<div>
    <div class="url-container">
      <input class="url-container__link-input" v-model="targetUrlInput">
      <button class="url-container__submit-button" @click="setTargetUrl">Go</button>
      <button class="url-container__submit-button" @click="refreshUrl">Refresh</button>

      <div class="controls">
        <label class="controls__label">
          <input type="checkbox" name="mobile" 
            class="controls__button" 
            v-model="mobileModeOn"/>
          Mobile
        </label>
  
        <label class="controls__label">
          <input type="checkbox" name="tablet" 
            class="controls__button"
            v-model="tabletModeOn"/>
          Tablet
        </label>
      </div>

    </div>
  
    
    <div class="device-container">
      <device-container 
        size="desktop" 
        :scroll="windowScroll"
        :targetUrl="targetUrl"/>

      <device-container 
        size="tablet" 
        :targetUrl="targetUrl" 
        :scroll="windowScroll"
        v-if="tabletModeOn"/>

      <device-container 
        size="mobile" 
        :targetUrl="targetUrl"
        :scroll="windowScroll" 
        v-if="mobileModeOn"/>
    </div>
  </div>