.url-container {
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.url-container__link-input {
  width: 100%;
  padding: 10px;
}

.url-container__submit-button {
  width: 100px;
  padding: 10px;
}
